body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Prompt', sans-serif;
    margin: 0%;
}



.wide-half {
    width: 50%;
}

.wide-half img {
    width: 100%;
}

#fristpara {
    margin-top: 12%;
}

.button {
    background-image: linear-gradient(orange, red);
    text-decoration: none;
    padding: 16px 30px;
    border-radius: 30px;
    font-weight: 700;
    color: white;
}

.flex {
    display: flex;
}


#section-2 {

    background-image: url(images/shapes/Frame\ 58.jpg);
    background-size: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

#div-1 {
    padding-left: 5%;
    padding-right: 3%;
}

#div-1 h1 {
    font-size: 50px;
}


#about-img {
    width: 60%;
    padding-top: 5%;

}

#aboutpara {
    padding-top: 8%;
}

#my-recipiesdiv {
    padding-left: 30%;
    padding-right: 30%;
}

#my-recipiesdiv h1 {
    padding-left: 35%;
}

#my-recipiesdiv p {
    text-align: center;
}