body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Prompt', sans-serif;
}

.wide-half {
    width: 50%;
}

#fristpara {
    margin-top: 12%;
}

.button {
    background-image: linear-gradient(orange, red);
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 30px;
    font-weight: 700;
    color: white;
}

.flex {
    display: flex;
}

#div-1 {
    margin-left: 5%;
    margin-right: 3%;
}

#div-1 h1 {
    font-size: 50px;
}